.formulaire_spip  textarea.markItUpEditor,
.formulaire_spip li.editer_texte textarea {
	width: 100%; 
	box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	-ms-box-sizing: border-box;
}

/***************************/
/* previsu */
.markItUp .markItUpPreview {
	/* font-size: 1.05em;  */
	line-height: 1.4em;
}

/* dans la previsu masquer les JS echappés */
.markItUp .markItUpPreview .echappe-js {
	display: none;
}

/****************************/
/* fullscreen */
body.markitup-fullscreen {
	overflow: hidden;
}
body.markitup-fullscreen #bando_haut,
body.markitup-fullscreen #pied {
	visibility: hidden;
}