* text=auto !eol
action/porte_plume_previsu.php -text
barre_outils/edition.php -text
barre_outils/forum.php -text
/barre_outils_icones.css.html -text
configuration/porte_plume.php -text
css/barre_outils.css -text
css/barre_outils_prive.css -text
css/images/handle.png -text
css/images/menu.png -text
css/images/submenu.png -text
formulaires/configurer_porte_plume.html -text
formulaires/configurer_porte_plume.php -text
icones_barre/aelig-maj.png -text
icones_barre/aelig.png -text
icones_barre/agrave-maj.png -text
icones_barre/ccedil-maj.png -text
icones_barre/clean.png -text
icones_barre/eacute-maj.png -text
icones_barre/eagrave-maj.png -text
icones_barre/eye.png -text
icones_barre/guillemets-de.png -text
icones_barre/guillemets-simples.png -text
icones_barre/guillemets-uniques-de.png -text
icones_barre/guillemets-uniques.png -text
icones_barre/guillemets.png -text
icones_barre/intertitre.png -text
icones_barre/keyboard.png -text
icones_barre/lien.png -text
icones_barre/notes.png -text
icones_barre/oelig-maj.png -text
icones_barre/oelig.png -text
icones_barre/quote.png -text
icones_barre/spt-v1.png -text
icones_barre/text_bold.png -text
icones_barre/text_indent.png -text
icones_barre/text_indent_remove.png -text
icones_barre/text_italic.png -text
icones_barre/text_list_bullets.png -text
icones_barre/text_list_numbers.png -text
icones_barre/text_lowercase.png -text
icones_barre/text_strikethrough.png -text
icones_barre/text_uppercase.png -text
images/porte-plume-128.png -text
images/porte-plume-16.png -text
images/porte-plume-24.png -text
images/porte-plume-48.png -text
images/sources.txt -text
inc/barre.php -text
inc/barre_outils.php -text
javascript/jquery.markitup.js -text
javascript/jquery.markitup_pour_spip.js -text
javascript/jquery.previsu_spip.js -text
javascript/porte_plume_forcer_hauteur.js -text
javascript/xregexp-min.js -text
lang/barre_outils_ar.php -text
lang/barre_outils_de.php -text
lang/barre_outils_en.php -text
lang/barre_outils_es.php -text
lang/barre_outils_fr.php -text
markitup/readme.txt -text
markitup/templates/preview.css -text
markitup/templates/preview.html -text
/plugin.xml -text
/porte_plume_options.php -text
/porte_plume_pipelines.php -text
/porte_plume_start.js.html -text
/porte_plume_start.js_fonctions.php -text
prive/configurer/porte_plume.html -text
prive/porte_plume_preview.html -text
prive/porte_plume_preview_fonctions.php -text
tests/all_tests.php -text
tests/barre_outil_markitup.php -text
tests/lanceur_spip.php -text
