* text=auto !eol
barre_outils/edition.php -text
barre_outils/forum.php -text
/barre_outils_icones.css.html -text
css/barre_outils.css -text
css/images/handle.png -text
css/images/menu.png -text
css/images/submenu.png -text
icones_barre/aelig-maj.png -text
icones_barre/aelig.png -text
icones_barre/ccedil-maj.png -text
icones_barre/clean.png -text
icones_barre/eagrave-maj.png -text
icones_barre/eye.png -text
icones_barre/keyboard.png -text
icones_barre/text_bold.png -text
icones_barre/text_indent.png -text
icones_barre/text_indent_remove.png -text
icones_barre/text_italic.png -text
icones_barre/text_list_bullets.png -text
icones_barre/text_list_numbers.png -text
icones_barre/text_lowercase.png -text
icones_barre/text_strikethrough.png -text
icones_barre/text_uppercase.png -text
images/porte-plume-128.png -text
images/porte-plume-16.png -text
images/porte-plume-24.png -text
images/porte-plume-48.png -text
images/sources.txt -text
inc/barre.php -text
inc/barre_outils.php -text
javascript/jquery.markitup.js -text
javascript/jquery.markitup_pour_spip.js -text
javascript/jquery.previsu_spip.js -text
lang/barre_outils_ar.php -text
lang/barre_outils_en.php -text
lang/barre_outils_es.php -text
lang/barre_outils_fr.php -text
markitup/readme.txt -text
markitup/templates/preview.css -text
markitup/templates/preview.html -text
/plugin.xml -text
/porte_plume.js.html -text
/porte_plume.js_fonctions.php -text
/porte_plume_options.php -text
/porte_plume_pipelines.php -text
/porte_plume_preview.html -text
/porte_plume_preview_fonctions.php -text
/porte_plume_start.js.html -text
tests/all_tests.php -text
tests/barre_outil_markitup.php -text
tests/lanceur_spip.php -text
